* {
  margin: 0px;
  padding: 0px;
}

#indicator {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 30px;
  background-color: black;
}

#big {
  display: inline-block;
  background-color: gray;
  width: 80vw;
  height: 100vh;
  word-wrap: break-word;
  touch-action: pinch-zoom;
}

button {
  /* float: right; */
}
