* {
  margin: 0px;
  padding: 0px;
}

#big {
  display: inline-block;
  background-color: gray;
  width: 80vw;
  height: 100vh;
  word-wrap: break-word;
  touch-action: none;
}

button {
  /* float: right; */
}
